In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df =pd.read_csv('loan_pred.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
df['Credit_History'].fillna(df['Credit_History'].median(),inplace=True)

In [6]:
df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [8]:
df=df.dropna()
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
df['Loan_Status'].replace('Y',1,inplace=True)
df['Loan_Status'].replace('N',0,inplace=True)

In [10]:
df['Loan_Status'].value_counts()

1    376
0    166
Name: Loan_Status, dtype: int64

In [11]:
df['Married']=df['Married'].map({'Yes':1,'No':0})
df['Married'].value_counts()

1    355
0    187
Name: Married, dtype: int64

In [12]:
df['Education']=df['Education'].map({'Graduate':1,'Not Graduate':0})
df['Education'].value_counts()

1    425
0    117
Name: Education, dtype: int64

In [13]:
df['Dependents']=df['Dependents'].map({'0':0,'1':1,'2':2,'3+':3})
df['Dependents'].value_counts()

0    309
2     94
1     94
3     45
Name: Dependents, dtype: int64

In [14]:
df['Gender']=df['Gender'].map({'Male':1,'Female':0})
df['Gender'].value_counts()

1    444
0     98
Name: Gender, dtype: int64

In [15]:
df['Self_Employed']=df['Self_Employed'].map({'Yes':1,'No':0})
df['Self_Employed'].value_counts()

0    467
1     75
Name: Self_Employed, dtype: int64

In [16]:
df['Property_Area']=df['Property_Area'].map({'Urban':2,'Rural':0,'Semiurban':1})
df['Property_Area'].value_counts()

1    209
2    174
0    159
Name: Property_Area, dtype: int64

In [25]:
df=df.drop(['Loan_ID'],axis='columns')
df.shape

(542, 12)

In [27]:
df.head(15)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,1,0,5849,0.0,146.412162,360.0,1.0,2,1
1,1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.000000,360.0,1.0,2,1
3,1,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,1,0,0,1,0,6000,0.0,141.000000,360.0,1.0,2,1
5,1,1,2,1,1,5417,4196.0,267.000000,360.0,1.0,2,1
6,1,1,0,0,0,2333,1516.0,95.000000,360.0,1.0,2,1
7,1,1,3,1,0,3036,2504.0,158.000000,360.0,0.0,1,0
8,1,1,2,1,0,4006,1526.0,168.000000,360.0,1.0,2,1
9,1,1,1,1,0,12841,10968.0,349.000000,360.0,1.0,1,0
10,1,1,2,1,0,3200,700.0,70.000000,360.0,1.0,2,1
12,1,1,2,1,0,3073,8106.0,200.000000,360.0,1.0,2,1
13,1,0,0,1,0,1853,2840.0,114.000000,360.0,1.0,0,0
14,1,1,2,1,0,1299,1086.0,17.000000,120.0,1.0,2,1
15,1,0,0,1,0,4950,0.0,125.000000,360.0,1.0,2,1

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [29]:
x=df.drop('Loan_Status',axis="columns")
y=df['Loan_Status']

In [30]:
x.head(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,1,0,5849,0.0,146.412162,360.0,1.0,2
1,1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.000000,360.0,1.0,2
3,1,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,2
4,1,0,0,1,0,6000,0.0,141.000000,360.0,1.0,2
5,1,1,2,1,1,5417,4196.0,267.000000,360.0,1.0,2
6,1,1,0,0,0,2333,1516.0,95.000000,360.0,1.0,2
7,1,1,3,1,0,3036,2504.0,158.000000,360.0,0.0,1
8,1,1,2,1,0,4006,1526.0,168.000000,360.0,1.0,2
9,1,1,1,1,0,12841,10968.0,349.000000,360.0,1.0,1

In [31]:
y.head(16)

0     1
1     0
2     1
3     1
4     1
5     1
6     1
7     0
8     1
9     0
10    1
12    1
13    0
14    1
15    1
16    1
Name: Loan_Status, dtype: int64

In [32]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [33]:
model=LogisticRegression()
model.fit(X_train,y_train)

c:\users\dell\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [34]:
model.predict(X_test)

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1],
      dtype=int64)

In [35]:
model.score(X_test,y_test)

0.8256880733944955

In [36]:
model.predict_proba(X_test)

array([[0.53745666, 0.46254334],
       [0.15013772, 0.84986228],
       [0.24764139, 0.75235861],
       [0.15093329, 0.84906671],
       [0.13772435, 0.86227565],
       [0.2657711 , 0.7342289 ],
       [0.37710121, 0.62289879],
       [0.23600643, 0.76399357],
       [0.25331276, 0.74668724],
       [0.76403082, 0.23596918],
       [0.37533972, 0.62466028],
       [0.24693404, 0.75306596],
       [0.17114776, 0.82885224],
       [0.18672064, 0.81327936],
       [0.14108182, 0.85891818],
       [0.28175937, 0.71824063],
       [0.17352979, 0.82647021],
       [0.21883796, 0.78116204],
       [0.30201495, 0.69798505],
       [0.22811057, 0.77188943],
       [0.40832695, 0.59167305],
       [0.2419797 , 0.7580203 ],
       [0.15877286, 0.84122714],
       [0.2411364 , 0.7588636 ],
       [0.16686932, 0.83313068],
       [0.41141102, 0.58858898],
       [0.75002692, 0.24997308],
       [0.13590625, 0.86409375],
       [0.35696241, 0.64303759],
       [0.30057298, 0.69942702],
       [0.22815122, 0.77184878],
       [0.12918219, 0.87081781],
       [0.22742468, 0.77257532],
       [0.15048698, 0.84951302],
       [0.3573423 , 0.6426577 ],
       [0.15701289, 0.84298711],
       [0.10240265, 0.89759735],
       [0.18640501, 0.81359499],
       [0.71963703, 0.28036297],
       [0.21812317, 0.78187683],
       [0.75024301, 0.24975699],
       [0.7304147 , 0.2695853 ],
       [0.6767184 , 0.3232816 ],
       [0.21107581, 0.78892419],
       [0.16859366, 0.83140634],
       [0.26938151, 0.73061849],
       [0.28989222, 0.71010778],
       [0.18421355, 0.81578645],
       [0.08659177, 0.91340823],
       [0.87928289, 0.12071711],
       [0.68059843, 0.31940157],
       [0.25133206, 0.74866794],
       [0.29368037, 0.70631963],
       [0.79646604, 0.20353396],
       [0.09496856, 0.90503144],
       [0.08689259, 0.91310741],
       [0.17475119, 0.82524881],
       [0.25446658, 0.74553342],
       [0.20041446, 0.79958554],
       [0.35343592, 0.64656408],
       [0.60208432, 0.39791568],
       [0.19369941, 0.80630059],
       [0.296351  , 0.703649  ],
       [0.16116016, 0.83883984],
       [0.72594186, 0.27405814],
       [0.1740109 , 0.8259891 ],
       [0.11934571, 0.88065429],
       [0.24329526, 0.75670474],
       [0.29479236, 0.70520764],
       [0.29300445, 0.70699555],
       [0.50861766, 0.49138234],
       [0.04578774, 0.95421226],
       [0.20442913, 0.79557087],
       [0.29366423, 0.70633577],
       [0.18347141, 0.81652859],
       [0.27019815, 0.72980185],
       [0.2762712 , 0.7237288 ],
       [0.16160388, 0.83839612],
       [0.48042631, 0.51957369],
       [0.37179341, 0.62820659],
       [0.43121382, 0.56878618],
       [0.78732979, 0.21267021],
       [0.16605668, 0.83394332],
       [0.19763118, 0.80236882],
       [0.13115434, 0.86884566],
       [0.37756291, 0.62243709],
       [0.22454035, 0.77545965],
       [0.19119183, 0.80880817],
       [0.19041516, 0.80958484],
       [0.20756044, 0.79243956],
       [0.23112274, 0.76887726],
       [0.46383102, 0.53616898],
       [0.23932578, 0.76067422],
       [0.16402919, 0.83597081],
       [0.5700397 , 0.4299603 ],
       [0.59419121, 0.40580879],
       [0.26382562, 0.73617438],
       [0.36391994, 0.63608006],
       [0.51380806, 0.48619194],
       [0.11853637, 0.88146363],
       [0.8605568 , 0.1394432 ],
       [0.17413863, 0.82586137],
       [0.22805541, 0.77194459],
       [0.27629227, 0.72370773],
       [0.349628  , 0.650372  ],
       [0.46010492, 0.53989508],
       [0.92759402, 0.07240598],
       [0.26395227, 0.73604773],
       [0.1121466 , 0.8878534 ]])